* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 1440px;
	margin: auto;
}

.header {

	.wrapper {
		width: 73.9%;
		margin: auto;

		.header-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 15px;

			.header-logo {
				padding-top: 16px;
			}

			.header-icons {
				width: 46.3%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 10px;
				padding-top: 16px;
			}

			.header-nav {
				width: 46%;
				.header-nav-ul {
					display: flex;
					align-items: center;
					padding-top: 15px;
	
					.header-li {
						list-style-type: none;
						padding-right: 28px;
					}
					.header-li a {
						text-decoration: none;
						font-family: 'Roboto';
						font-style: normal;
						font-weight: 700;
						font-size: 16px;
						line-height: 26px;
						color: #1C1B1B;
					}
				}
			}
			
		}

	}

}

.secondBlok {
	background-color: #F0EFEB;
	;

	.wrapper {
		width: 73.9%;
		margin: auto;
		display: flex;

		.sb-left {
			width: 50.2%;
			h2 {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 700;
				font-size: 60px;
				line-height: 70px;
				color: #000000;
			}

			.left-first {
				padding: 90px 0 4px 0;
			}

			.left-second {
				padding-bottom: 42px;
			}

			p {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 28px;
				padding-bottom: 26px;
				color: #000000;
			}

			button {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 17px;
				line-height: 20px;
				color: #FFFFFF;
				background: #000000;
				border: 1px solid #000000;
				border-radius: 100px;
				padding: 7px 23px;
			}
		}
		.sb-right {
			padding-top: 9px;
			padding-bottom: 24px;
		}
	}


}

.thirdblok {
	padding-top: 60px;
	text-align: center;

	h3 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		color: #000000;
		padding-bottom: 27px;
	}

	p {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 23px;

		color: #000000;
	}

	.tb-first {
		width: 43.9%;
		margin: auto;
		padding-bottom: 47px;
	}

	.tb-second {
		padding-bottom: 88px;
	}
}

.fourthBlok {
	.wrapper {
		width: 73.9%;
		margin: auto;

		h3 {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			color: #000000;
			padding-bottom: 52px;
		}

		.cards {
			display: flex;
			justify-content: space-between;

			img {
				margin: auto;
				display: flex;
			}

			h4 {
				width: 46.2%;
				margin: auto;
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 700;
				font-size: 17px;
				line-height: 20px;
				text-align: center;
				color: #000000;
				padding-top: 27px;
				padding-bottom: 17px;
			}
			.fb-firstp {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 17px;
				line-height: 20px;
				text-align: center;
				color: #000000;
			}
			.fb-secondp {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 700;
				font-size: 17px;
				line-height: 20px;
				text-align: center;
				text-decoration-line: underline;
				color: #000000;
				padding-top: 10px;
				padding-bottom: 248px;
			}
		}
	}
}

.fifthBlok {
	background: rgba(204, 204, 204, 0.3);
	.wrapper {
		width: 73.9%;
		margin: auto;
		display: flex;
		align-items: center;

		img {
			padding: 76px 50px 51px 0;
		}

		h2 {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			color: #000000;
			padding-bottom: 31px;
		}

		p {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 36px;
			line-height: 42px;
			color: #000000;
			width: 79.2%;
			padding-bottom: 40px;
		}

		a {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 17px;
			line-height: 20px;
			color: #000000;
		}
	}

}

.sixthBlok {
	background: rgba(204, 204, 204, 0.6);
	.wrapper {
		width: 73.9%;
		margin: auto;
		display: flex;
		align-items: center;

		img {
			padding: 76px 0 51px 50px;
		}

		.text {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row-reverse;
		}
		h2 {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			color: #000000;
			padding-bottom: 31px;
		}

		p {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 36px;
			line-height: 42px;
			color: #000000;
			width: 81.6%;
			padding-bottom: 40px;
			text-align: end;
		}

		a {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 17px;
			line-height: 20px;
			color: #000000;
		}
	}

}

.seventhBlok {
	background: rgba(204, 204, 204, 0.3);
	.wrapper {
		width: 73.9%;
		margin: auto;
		display: flex;
		align-items: center;

		img {
			padding: 76px 50px 51px 0;
		}

		h2 {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			color: #000000;
			padding-bottom: 31px;
		}

		p {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 36px;
			line-height: 42px;
			color: #000000;
			width: 79.2%;
			padding-bottom: 40px;
		}

		a {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 17px;
			line-height: 20px;
			color: #000000;
		}
	}

}


.eighthBlok {
	.wrapper {
		width: 73.9%;
		margin: auto;

		p {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			color: #000000;
		}
		.first {
			padding-top: 190px;
		}
		.second {
			padding-bottom: 69px;
		}
		.third {
			font-weight: 700;
		}
		.fourth {
			font-weight: 700;
			padding-bottom: 290px;
		}
		.padd {
			padding-bottom: 111px;
		}
		.padd1 {
			padding-bottom: 163px;
		}
		.circles {
			display: flex;
			justify-content: space-around;
			align-items: center;
			.circle {
				width: 20%;
				img {
					margin: auto;
					display: flex;
					padding-bottom: 26px;
				}
				h4 {
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 700;
					font-size: 30px;
					line-height: 35px;
					text-align: center;
					color: #000000;
				}
			}
			
		}
		
	}
}


.ninthBlok {
	background-color: #F0F0F0;
	.wrapper {
		width: 73.9%;
		margin: auto;
		.cards {
			display: flex;
			justify-content: space-between;
			position: relative;
			.card {
				width: 27.1%;
				h3 {
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 700;
					font-size: 24px;
					line-height: 28px;
					text-align: center;
					letter-spacing: 0.6px;
					color: #000000;
					padding-top: 198px;
					padding-bottom: 34px;
				}
				p {
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					line-height: 23px;
					text-align: center;
					color: #000000;
				}
				a {
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 700;
					font-size: 18px;
					line-height: 21px;
					display: flex;
					justify-content: center;
					text-decoration-line: underline;
					color: #000000;
					padding-top: 44px;
					padding-bottom: 52px;
				}
			}
			.card1::before {
				content: "";
				position: absolute;
				background-image: url(../images/ninthb-img1.png);
				background-repeat: no-repeat;
				background-size: cover;
				background-size: 288px 351px;
				width: 288px;
				height: 351px;
				top: -179px;
			}
			.card2::before {
				content: "";
				position: absolute;
				background-image: url(../images/ninthb-img2.png);
				background-repeat: no-repeat;
				background-size: cover;
				background-size: 288px 351px;
				width: 288px;
				height: 351px;
				top: -179px;
			}
			.card3::before {
				content: "";
				position: absolute;
				background-image: url(../images/ninthb-img3.png);
				background-repeat: no-repeat;
				background-size: cover;
				background-size: 288px 351px;
				width: 288px;
				height: 351px;
				top: -179px;
			}
		}
	}
}

.tenthBlok {
	.wrapper {
		width: 34.5%;
		margin: auto;
		h2 {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 42px;
			text-align: center;
			color: #000000;
			padding-top: 79px;
			padding-bottom: 9px;
		}
		p {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 17px;
			line-height: 20px;
			text-align: center;
			color: #000000;
			padding-bottom: 26px;
		}
		form {
			width: 73.7%;
			margin: auto;
			.inputs {
				border: 1px solid #000000;
				padding: 12px 8px;
				height: 39px;
			}
			.inp1 {
				width: 41.8%;
				margin: 0 56px 18px 0;
			}
			.inp2 {
				width: 41.8%;
			}
			.inp3 {
				width: 100%;
				margin-bottom: 16px;
			}
			.btn {
				display: flex;
				justify-content: center;
				padding-bottom: 88px;
				button {
					background: #000000;
					border: 1px solid #000000;
					border-radius: 100px;
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 16px;
					text-align: center;
					color: #FFFFFF;
					padding: 7px 23px;
				}
			}
			
		}
	}
}

.footer {
	background-color: #020202;
	.wrapper {
		width: 73.9%;
		margin: auto;
		.sides {
			display: flex;
			justify-content: space-between;
			.left-top {
				padding: 51px 0 37px 0; 
			}
			.img2foot {
				padding: 0 21px;
			}
			.footer-right {
				width: 32.8%;
				display: flex;
				justify-content: space-between;
				padding-top: 51px;
				.right-left {
					display: flex;
					flex-direction: column;
				}
				.right-right {
					display: flex;
					flex-direction: column;
				}
				p {
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 23px;
					color: #FFFFFF;
					padding-bottom: 36px;
				}
				a {
					font-family: 'Roboto';
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 21px;
					color: #FFFFFF;
					text-decoration: none;
					padding-bottom: 12px;
				}
			}
		}
		.footer-bottom {
			padding: 8px 0 16px 0;
			p {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 23px;
				text-align: center;
				color: #FFFFFF;
			}
		}
	}
}